*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    min-height: 100vh;
    background-color: black;
    color: white;   
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    
}



.wrapper {
    min-width: 70vh;
    background-color: thistle;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 10px 20px rgba(192, 176, 250, 0.866);
    border-radius: 10px;
    border: 5px solid white;
}

.wrapper h1 {
    text-align: center;
    align-items: center;
    margin-top: 7px;
}

.wrapper .content-box {
    min-width: 80vh;
    padding : 40px 20px ;
    border-radius: 10px;
    border: 5px solid black;
    margin: 40px 20px;
}

.content-box .content {
    margin: auto;
    display : flex;
    padding: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid white;
}

.content .result-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%  -  140px);

}

.result-details li {
    display:flex;
    height: 20px;
    list-style: none;
    align-items: center;
}

.content button {
    margin-top: 5px;
    outline: none;
    border: black 5px solid;
    color: white;
    background-color: #39212c;
    font-size: 16px;
    padding: 7px 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.2);
}

.content button:active {
    transform: scale(0.92);
}

.typing-text  span {
    position: relative;
}

.typing-text  span.active {
    color: black;
}